<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head> 


  <body>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 55px;" style="padding-bottom: 0px;">
        <div class="container-fluid">
        
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="navbar" id="navbar">
                <a class="nav-link" aria-current="page" href="./index.html">Home</a>
              </li>
  
  
              <li class="navbar" id="navbar">
                <a class="nav-link" href="./hobbies.html">Hobbies</a>
              </li>
  
              <li class="navbar" id="navbar">
                <a class="nav-link" href="./project.html">Projects</a>
              </li>
  
              <li class="navbar" id="navbar">
                <a class="nav-link" href="./resume.html">Resume</a>
              </li>
              
              
                <div class="container">
                  <a class="navbar-brand" href="#" style="margin-bottom: 1000px;">
                    <img src="../img/Colorado_Buffaloes_logo.svg.png" id = "self-image" width="50" height="40" style="margin-top: 10px; margin-left: 1100px;">
                  </a>
                </div>

                
              
              
            </ul>
          </div>
      </nav>


      <div class="container">
        <div class="header">
            <h1>Mathis Fituwi</h1>
            <p>Person Personified</p>
        </div>

        <div class="contact-info">
            <p>Email: mafi7060@colorado.edu</p>
            <p>Phone: NULL</p>
            <p>GitHub: <a href="https://github.com/MatFit" target="_blank">github.com</a></p>
        </div>

        <div class="section">
            <h2 class="section-title">Education</h2>
            <div class="section-content">
                <p><strong>University of Colorado Boulder</strong></p>
                <p>Bachelor of Science in Computer Science</p>
                <p>Expected Graduation: May 2025</p>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">Work Experience</h2>
            <div class="section-content">
                <p><strong>Norlin Library Service</strong></p>
                <p>University of Colorado Boulder</p>
                <p>Present</p>
                <ul>
                    <li>Customer Sevice</li>
                    <li>Stuff</li>
                </ul>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">Skills</h2>
            <div class="section-content">
                <p>C, c#, c whatever, cd deez nuts haha got em yay</p>
            </div>
        </div>

    </div>





      <div class="container">
        <footer class="py-3 my-4">          
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <a class="nav-item" href="https://github.com/MatFit" target="_blank"><img src="../img/github-mark.png" width="40" height="40"></a>
          </ul>
          <p class="text-center text-muted">Social Media</p>
        </footer>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>